<!DOCTYPE html>
<html>
  
  <head>
    <meta charset='UTF-8' />
    <title>Calendar List</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>

  <body class='container'>
    <div class="user">
  	<h2>User name: <%= @user.name %></h2><br>
    </div><br>

  	<h2>Events</h2>
  	<% @events.each do |event| %>
        <div class="course">
  	    <p>Name: <%= event.name %></p><br>
    	  <p>Date: <%= event.event_date %></p><br>
     	  <p>Time: <%= event.event_time %></p><br>
    	  <p>Notes: <%= event.notes %></p><br>
        </div><br>
      <% end %>

  </body>
</html>